.form-map{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.packages-container {
  background-color: rgba(235, 235, 235, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  width: 500px;
  height: 500px;
  border-radius: 30px;
}
.packages-container h2 {
  text-align: center;
}

.packages-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.packages-form input {
  margin-top: 10px;
  padding: 5px;
  height: 25px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid rgb(204, 204, 204);
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgb(172, 171, 171);
}
.packages-form-left {
  display: flex;
  flex-direction: column;
}

.packages-form-rigth {
  display: flex;
  flex-direction: column;
}

.packages-select-search {
  margin-top: 10px;
}

.packages-form-calc {
  margin-top: 20px;
  display: flex;
  justify-content: end;
}

.packages-form-calc div {
  display: flex;
  margin-right: 30px;
  border-radius: 5px;
  background: rgba(237, 237, 237, 0.7);
  padding: 20px;
  flex-direction: column;
}
.packages-form-button {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.packages-form-button button {
  padding: 10px;
  width: 35%;
  border-radius: 5px;
  border: none;
  background-color: rgba(235, 235, 235, 0.8);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  color: #003e69;
  border: 1px solid rgb(0, 62, 105);
  cursor: pointer;
}

.packages-form-button button:nth-child(n + 2) {
  color: white;
  background-color: rgba(0, 62, 105, 0.8);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.leaflet-container {
  width: 900px;
  height: 600px;
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

hr:after {
  
  content: '§';
  padding: 0 4px;
  position: relative;
  top: -13px;
}
